body {
    width: 100vw;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 7vh;
    background-color: $dark-purple;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    button {
        background-color: white;
        color: $dark-purple;
        border: none;
        border-radius: 17%;
        padding: 0.25em;
    }
    button:hover {
        background-color: $mid-purple;
        color: white;
        border: 2px solid white;
    }
}

