
$dark-purple:rgb(24, 1, 24);
$mid-purple:rgb(100, 57, 100);
$light-purple:rgb(235, 195, 235);
$lightest-purple:rgb(244, 234, 244);

$lightest-contrast: rgb(239, 232, 223);
$light-contrast: rgb(244, 227, 204);
$mid-contrast: rgb(164, 135, 96);
$dark-contrast: rgb(44, 35, 25);